.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80rem;
  margin: 2rem auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.movies input {
  font-size: 1.5rem;
  width: 30rem;
  padding: 1rem;
  padding-left: 1.4rem;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 100px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 2rem;
}

.movie {
  display: flex;
  margin-bottom: 1rem;
}
.movie img {
  width: 10rem;
  height: 10rem;
  margin-right: 1rem;
}

.movie__title {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: rgb(228, 101, 51);
}

.movie__desc {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.6);
}

.movie__info {
  display: flex;
  flex-direction: column;
  width: 20rem;
  align-items: flex-start;
  text-align: left;
}
